@import "./components/scss/var";

.app {
    background: #fff;

    :global {

        .component {
            padding: 1rem;

            h3 {
                padding: 0 1rem;
                margin-bottom: 1rem;
            }
        }
    }
}
