@import "../scss/index.scss";

.#{$prefix-cls}button {
    display: block;
    height: 4.8rem;
    line-height: 4.8rem;
    background: $primary-color;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    cursor: pointer;
    flex: 1;
}
