@import "../scss/index.scss";

.button {
    display: block;
    height: 4rem;
    line-height: 4rem;
    background: $primary-color;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    cursor: pointer;
}
