@import "../scss/index.scss";

.button {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    background: $primary-color;
    color: #fff;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
