@import "../scss/index.scss";

.#{$prefix-cls}tab-selector {
  display: flex;
  flex: 1;
  flex-direction: row;
  color: $font-color;
  background: #fff;
  width: 100%;
  height: 100%;

  .item-wrap {
    width: 11rem;
    background: #f8f8f8;
    overflow: auto;

    .item {
      height: 4.4rem;
      background: #f8f8f8;
      font-size: 1.4rem;
      text-align: center;
      line-height: 4.4rem;
      border-left: 0.4rem solid #f8f8f8;

      &.active {
        border-left-color: $primary-color;
        color: $primary-color;
        background: #fff;
      }
    }
  }

  .sub-item-wrap {
    padding: 2rem 1.6rem;
    flex: 1;
    overflow: auto;

    .item {
      display: block;
      height: 3rem;
      line-height: 3rem;
      background: #f2f2f2;
      color: #a2a9b9;
      font-size: 1.4rem;
      text-align: center;
      margin-bottom: 1rem;
      border-radius: 1.5rem;
      cursor: pointer;

      &.active {
        color: #fff;
        background: $primary-color;
      }
    }
  }
}
