$primary-color: #485CC7;

$header-bg-color: #232427;

$font-color: #313131;
$lighter-font-color: #4A4A4A;
$lightest-font-color: #A7A7A7;

$icon-color: #A2A9B9;

$placeholder-font-color: #919191;
$input-font-color: #000;


$bd-color: #e0e0e0;
$lighter-bd-color: #f4f4f4;

$bg-color: #e7e7e7;
$body-bg-color: #f5f5f5;

$box-shadow-color: #ddd;

$header-height: 4.4rem;
$tabs-bar-height: 4rem;
