$prefix-cls: 'sui-' !default;

$primary-color: #485CC7 !default;

$font-color: #313131 !default;
$lighter-font-color: #4A4A4A !default;
$lightest-font-color: #A7A7A7 !default;

$icon-color: #A2A9B9 !default;

$placeholder-font-color: #919191 !default;
$input-font-color: #000 !default;

$bd-color: #e0e0e0 !default;
$lighter-bd-color: #f4f4f4 !default;

$bg-color: #e7e7e7 !default;
$body-bg-color: #f5f5f5 !default;

$box-shadow-color: #ddd !default;

$header-height: 4.4rem !default;
$tabs-bar-height: 4rem !default;
