@import "../scss/index.scss";

.#{$prefix-cls}no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  flex-direction: column;

  .image-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text {
    text-align: center;
    margin-top: 1rem;
    color: #a2a9b9;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}
