@import "../scss/index.scss";

.noData {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  flex-direction: column;

  :global {

    .image-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .text {
      text-align: center;
      margin-top: 1rem;
      color: #A2A9B9;
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
  }
}
