@import "../scss/index.scss";

.#{$prefix-cls}tab-panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  color: $font-color;
  background: #fff;
  width: 100%;
  height: 100%;

  .header-wrap {
    height: 3.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $font-color;

    div {
      font-weight: bold;
      padding: 0 1.5rem;
      height: 100%;
      line-height: 3.4rem;
    }

    div:first-child {
      background: #f8f8f8;
      width: 11rem;
    }

    div:last-child {
      flex: 1;
    }
  }

  .content-wrap {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  .item-list {
    width: 11rem;
    background: #f8f8f8;
    overflow: auto;

    .item {
      padding: 1rem 0;
      line-height: 2.4rem;
      background: #f8f8f8;
      font-size: 1.4rem;
      text-align: center;
      border-left: 0.4rem solid #f8f8f8;

      &.active {
        border-left-color: $primary-color;
        color: $primary-color;
        background: #fff;
      }
    }
  }

  .item-content-wrap {
    flex: 1;
    overflow: auto;
  }
}
