@import "../scss/index.scss";

.tabPanel {
  display: flex;
  flex: 1;
  flex-direction: row;
  color: $font-color;
  background: #fff;
  width: 100%;
  height: 100%;

  :global {
    .item-wrap {
      width: 11rem;
      background: #f8f8f8;
      overflow: auto;

      .item {
        height: 4.4rem;
        background: #f8f8f8;
        font-size: 1.4rem;
        text-align: center;
        line-height: 4.4rem;
        border-left: 0.4rem solid #f8f8f8;

        &.active {
          border-left-color: $primary-color;
          color: $primary-color;
          background: #fff;
        }
      }
    }

    .item-content-wrap {
      padding: 2rem 1.6rem;
      flex: 1;
      overflow: auto;
    }
  }
}
